
.attendance-grid {
    display: flex;
    flex-direction: column;
}

.week {
    display: flex;
}

.day {
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 3px;
}

.legend {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 3px;
}


/* ---------------------------------new-------*/

