.combined-attendance-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.combined-attendance-summary .attendance-block {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.attendance-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width:50%;
}
.attendance-block {
    width: 10px;
    height: 10px;
    background-color: #00ff00; /* Adjust color as needed */
    margin: 2px;
    cursor: pointer;
}
.attendance-block:hover {
    opacity: 0.7;
}
.attendance-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 10px;
        padding-bottom: 20px;

    }
.month {
        flex: 0 0 auto;
        width: 150px;
    }
.month-name {
        text-align: center;
        margin-bottom: 10px;
    }
.month-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1px;
     }
.day {
        width: 12px;
        height: 12px;
        border-radius: 2px;
        margin: 1px;
    }
.present { background-color: #39d353; }
.absent { background-color: #ff6b6b; }
