/* static/css/styles.css */
/*body {
    background-color: #d8f9c1;
 }
 */
.sidebar {
    height: 100vh;
    position: fixed;
}

.table td, .table th {
    vertical-align: middle;
}
/*--------------------------Attendence css Start---------------------------------- */

.combined-attendance-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.combined-attendance-summary .attendance-block {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.attendance-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.attendance-block {
    width: 10px;
    height: 10px;
    background-color: #00ff00; /* Adjust color as needed */
    margin: 2px;
    cursor: pointer;
}

.attendance-block:hover {
    opacity: 0.7;
}
/*--------------------------Attendence css End---------------------------------- */
