{% extends 'base.html' %}

{% block title %}Edit Technical Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Technical Profile</h2>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <table class="table table-bordered">
            <tbody>
                {% for field in form %}
                    <tr>
                        <td class="font-weight-bold">{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
</div>
{% endblock %}
