<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Sign Up</title>
    <!-- Link to Bootstrap (Optional) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
<!--MEssages-->
<!-- Messages -->
<div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show text-success"
         role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<!--End Messages-->
<div class="login">
    <div class="imgs"><img src="{% static 'images/welcome.webp' %}"></div>
    <div class="login-form">
        SIGN UP
        <form method="post" name='signup'>
            {% csrf_token %}
            <table class="table">
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    {{ form.role.label_tag }}
                    {{ form.role }}
                    {{ form.role.errors }}
                </div>

                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            </table>
            <button type="submit">Sign Up</button>
        </form>
        <a href="{% url 'login' %}">
            <button type="submit" class="btn-success">Log In</button>
        </a>


        <!--        <form action="" method="post">-->
        <!--            {% csrf_token %}-->
        <!--            <table>-->
        <!--                <tr>-->
        <!--                    <td>Id</td>-->
        <!--                </tr>-->
        <!--                <tr>-->
        <!--                    <td><input type="text" name="id" required></td>-->
        <!--                    <br>-->
        <!--                </tr>-->
        <!--                <tr class="pass">-->
        <!--                    <td><br>Password</td>-->
        <!--                </tr>-->
        <!--                <tr>-->
        <!--                    <td><input type="password" name="password" required></td>-->
        <!--                    <br>-->
        <!--                </tr>-->
        <!--                <tr class="pass">-->
        <!--                    <td><br>Confirm Password</td>-->
        <!--                </tr>-->
        <!--                <tr>-->
        <!--                    <td><input type="password" name="cnfpass" required></td>-->
        <!--                    <br>-->
        <!--                </tr>-->
        <!--            </table>-->
        <!--            <input type="submit" value="Sign Up"><br><br>-->

        <!--            {% for msg in messages %}-->
        <!--            {% if msg == "Registered Successfully" %}-->
        <!--            <div class="success_message">-->
        <!--                {{msg}}-->
        <!--            </div>-->
        <!--            {% else %}-->
        <!--            <div class="err_message">-->
        <!--                {{msg}}-->
        <!--            </div>-->
        <!--            {% endif %}-->
        <!--            {% endfor %}-->

        <!--        </form>-->
    </div>
</div>
<!-- JavaScript for Bootstrap (Optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
