{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1>Edit Attendance for {{ user_profile.user.username }}</h1>

    <!-- Display success or error messages -->
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form class="" name="date" method="get" action="{% url 'modify_attendance' %}">
        <label for="emp" class="col-md-3  col-form-label">Select EID:</label>
            <div class="col-sm-4 col-md-3">
                 <select name="emp" id="emp" class="form-control" required>
                     <option value="" >Select an employee</option>
                        {% for profile in emp_profiles %}
                        <option value="{{ profile.user }}" {% if profile.user == user_profile.user %}selected{% endif %}>
                            {{ profile.eid }} - {{ profile.user }}
                        </option>
                        {% endfor %}
                </select>
            </div>

        <div class="form-group col-md-3">
            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" class="form-control" value="{{ selected_date }}">
        </div>
        <button type="submit" class="btn btn-primary">View Record</button>
    </form>

    {% if not recordNotFound %}
    <!--  Editable Attendance form -->
    <form method="POST" novalidate>
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ form.date }}
                </td>
                <td>
                    {{form.attendance_type}}
                </td>
            </tr>

            </tbody>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>

    {% else %}
    {% include 'recordNotFound.html' %}
    {% endif %}
    <a href="{% url 'attendance_search' %}" class="btn btn-secondary">Back to Attendance</a>
</div>


{% endblock %}
