<!-- templates/sidebar.html -->
<!--<div class="col-md-2  sidebar p-2" >-->
<div class="list-group " style="background-color: #ccf9f4;">
    <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action">Assign Work</a>
    <a href="#" class="list-group-item list-group-item-action">Notice</a>
    <a href="#" class="list-group-item list-group-item-action">Request</a>
    <a href="{% url 'attendance' %}" class="list-group-item list-group-item-action">Attendance</a>
    {% if request.user.is_superuser %}
    <a href="{% url 'attendanceList' %}" class="list-group-item list-group-item-action">Attendance Records</a>
    {% endif %}


    <a href="#" class="list-group-item list-group-item-action">My Work</a>
    <a href="#" class="list-group-item list-group-item-action">Edit Assigned Work</a>
    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
</div>
<!--    <div class="container">-->
<!--    {{user.usrname}}-->
<br>
<h1>{{user}}</h1>
<!--    <br>{{username}}-->
<!--    </div>-->
<!--</div>-->
